[Unit]
Description=Ehecoatl Runtime
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=__PROJECT_DIR__
ExecStart=/usr/bin/env node index.js
CapabilityBoundingSet=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_KILL CAP_NET_ADMIN CAP_SYS_ADMIN
PrivateTmp=yes
ProtectKernelTunables=no
ProtectKernelModules=yes
ProtectKernelLogs=yes
Delegate=yes
DelegateSubgroup=supervisor
Restart=on-failure
RestartSec=2
TimeoutStopSec=30
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal
MemoryAccounting=yes
CPUAccounting=yes
TasksAccounting=yes
MemoryMax=1G
MemoryHigh=infinity
OOMPolicy=continue

[Install]
WantedBy=multi-user.target
