/*#google-signin-button svg{		
    aspect-ratio: 1;
    width: 19px;
    top: -9px;
    position: relative;
}*/
@media (max-width: 991px){
	main{ transition: transform 0.2s ease-out; }
	main.move_left{pointer-events:none!important;transition: transform 0.4s ease-out;transform: translateX(-50px); }
	main.move_right{pointer-events:none!important;transition: transform 0.4s ease-out;transform: translateX(50px);}
}

.nav{
   --bs-nav-link-color:var(--link-color)!important;
   --bs-nav-link-hover-color:var(--link-color)!important;
   --bs-nav-tabs-link-active-color:var(--bs-body-color)!important;
   --bs-nav-tabs-link-active-bg:transparent!important;
}
@media (min-width: var(--max-width-mobile)){
	.nav-link:not(.active,:active,:focus):hover{ background: rgba(128 128 128/0.1); }
}
/*.nav-item{display: flex; align-items: center;}*/
.nav-link{cursor: pointer;}
.nav-link:active{background: rgba(128 128 128/0.3); }
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link{    
	width: 100%;
    padding: 0;
    height: calc(2.3rem + 0.1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    flex-flow: row nowrap;
}

.x-small{ font-size: 0.75rem!important; }
.xx-small{ font-size: 0.625rem!important; }


.explorer-bottom-tab-line { border-bottom-4: 5px solid var(--bs-light); --bs-nav-tabs-border-width:0!important; position:relative;z-index:0; }
.explorer-tab-line { 
	position: absolute; display: block;  border-radius: 7px 7px 2px 2px; bottom:0; left:0; height:5px; background:var(--bs-body-color)!important; z-index:1;
	opacity: 0; transform: translateX(0) scaleX(1);
}
.star-badge{
	aspect-ratio: 1;
	text-align: center;
	--bs-badge-padding-x:0.35em!important;
	--bs-badge-padding-y:0.25em!important;
	font-size: 0.6em!important;
	line-height: 1em!important;
	background: var(--bs-body-color);
	animation: rainbow_tab 2s infinite var(--delay);
}
[data-bs-theme=dark] .star-badge{
	background: var(--bs-light);
	animation: rainbow_tab 2s infinite var(--delay);
}
.bg-icon{
	position: relative;
	border-left:4px solid var(--bs-light);
}
.bg-icon:last-child{
	border-right:4px solid var(--bs-light);
}
.bg-icon:before{
	display: block;
	font-size: 300px;
	color:var(--bs-light);
	opacity: 0.6;
	position: absolute;
	margin-top: 10vh;
	top:0;
	left:50%;
	transform: translate(-50%, 0);
}
[data-bs-theme=dark] .bg-icon:before{
	opacity: 0.25;
}
.fw-title{
	font-weight: bold!important;
	font-size: calc(.9rem + .2vw)!important;
}
.border-bottom-4{
	border-bottom-style: solid!important;
	border-bottom-width: 4px!important;
}
.border-bottom-4:first-child{
	border-top-style: solid!important;
	border-top-width: 4px!important;
}
.btn-link{
	background: var(--link-color)!important;
	color: white!important;
}
.btn-outline-link{
    --bs-btn-color: var(--link-color)!important;
    --bs-btn-bg: rgba(var(--link-color-rgb) /50%)!important;
    --bs-btn-border-color: var(--border-color)!important;
    --bs-btn-hover-color: var(--bs-light)!important;
    --bs-btn-hover-bg: var(--link-color)!important;
    --bs-btn-hover-border-color: var(--border-color)!important;
    --bs-btn-focus-shadow-rgb: 33,37,41!important;
    --bs-btn-active-color: var(--bs-light)!important;
    --bs-btn-active-bg: var(--link-color)!important;
    --bs-btn-active-border-color: var(--border-color)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
    --bs-btn-disabled-color: var(--link-color)!important;
    --bs-btn-disabled-bg: transparent!important;
    --bs-btn-disabled-border-color: var(--border-color)!important;
    --bs-gradient: none!important;
}

@media all and not (display-mode: browser) {
	.standalone-hide { display: none; }
}

.d-flex-center{display: flex;flex-flow: row nowrap;align-items: center;justify-content: center; }
.bg-half { background: rgb(128,128,138)!important; }
.text-half { color: rgb(128,128,138)!important; }
.text-bg{ color: var(--page-background)!important; }