html[data-bs-theme=light],:root,html{
	--bs-loader-bg:rgba(128,128,128,0.3);
	--max-width:1024px;
	--max-width-mobile:991px;
	--bs-border-radius:0.375rem;

	--link-color:#1a8ea8; /*#129cc4*/ /*#1ab9e8*/  /*#2962ff*/
	--link-dark-color:#1a0dab;
	--link-light-color:#1a73e8;
	--link-color-rgb: 41,98,255;

   --bs-primary:#358796;
   --bs-primary-rgb:53,135,150;
   --bs-secondary:#e2aa34;
   --bs-info:#358796;
	   --bs-info-rgb:53,135,150;
   --bs-success:#57cb02;
   --bs-danger:#fe5533;
   --bs-danger-rgb: 218,104,83;

   --bs-body-color:#212529;
	--font-color:var(--bs-body-color);

	--page-background:#FFFFFF;
 	--page-background-invert-rgb:0 0 0;
   --page-foreground:#F8F8FF;
   --font-color-light:white;
	--bs-font-sans-serif:system-ui,-apple-system,Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html[data-bs-theme=dark]{
 	--page-background:#000000;
 	--page-background-invert-rgb:255 255 255;
 	--bs-light-rgb:10,17,21;
 	--bs-light:#0a1115;
    --bs-body-color:#dee2e6;
 	--bs-info:#37dec0;
 	--bs-info-rgb:55,222,192;
 	--bs-primary:#245f65;
 	--link-color:#37dec0!important;/*var(--link-light-color);*/
 	--bs-box-shadow: 0 0.5rem 1rem rgba(10, 17, 25, .8);
 }

.app-screen{
	inset:0;
	position: fixed;

	position: absolute;
	overflow: hidden;
	
	display: block;
	/*background: var(--page-background);*/
	font-family: var(--bs-font-sans-serif);
	color: var(--font-color);
	transition: transform .25s ease-out, opacity 0.2s linear;
	transform: none;
	opacity: 1;
}

.hide_down{opacity: 0.01;transform: translateY(25%);pointer-events: none;will-change: transform, opacity;}
.hide_up{opacity: 0.01;transform: translateY(-25%);pointer-events: none;will-change: transform, opacity;}

@keyframes rainbow1{100%,0%{color:rgba(255 0 0 /0%)}16%{color:#ff0}25%{color:#7fff00}33%{color:lime}41%{color:#00ff7f}50%{color:cyan}58%{color:#007fff}66%{color:blue}75%{color:#7f00ff}83%{color:#f0f}91%{color:#ff007f}}
.rainbow{ animation: rainbow 3s 1; }
@keyframes rainbow_bg1{100%,0%{background-color:rgba(255 0 0 /0%)}16%{background-color:#ff0}25%{background-color:#7fff00}33%{background-color:lime}41%{background-color:#00ff7f}50%{background-color:cyan}58%{background-color:#007fff}66%{background-color:blue}75%{background-color:#7f00ff}83%{background-color:#f0f}91%{background-color:#ff007f}}
.rainbow_bg{ animation: rainbow_bg 3s 1; }


@keyframes rainbow_tab1{0%{color:auto}8%{color:#FF0}16%{color:#f90}25%{color:#FFCC00}33%{color:lime}41%{color:#00ff7f}50%{color:cyan}58%{color:#007fff}66%{color:blue}75%{color:#7f00ff}83%{color:#f0f}91%{color:#ff007f}100%{color:auto}}
@keyframes rainbow_tab_bg1{0%{background-color:auto}8%{background-color:#FF0}16%{background-color:#f90}25%{background-color:#FFCC00}33%{background-color:lime}41%{background-color:#00ff7f}50%{background-color:cyan}58%{background-color:#007fff}66%{background-color:blue}75%{background-color:#7f00ff}83%{background-color:#f0f}91%{background-color:#ff007f}100%{background-color:auto}}
.rgb-tab.active i{ animation: rainbow_tab 2s 2; }

.inset-content{
	transition: transform 0.2s ease-out, opacity 0.2s linear;
}
.inset-loader{
	position: absolute;
	top:50%;
	left:50%;
	opacity: 0;
	transform: translate(-50%,100%);
	transition: transform 0.2s ease-in, opacity 0.2s linear;
	will-change: transform, opacity;
	height:calc(100% - 0.75rem);
}
.inset-loading .inset-content{
	transform: translate(0,-100%);
	opacity: 0;
}
.inset-loading .inset-loader{
	opacity: 1;
	transform: translate(-50%,-50%);
	transition: transform 0.2s ease-out, opacity 0.2s linear;
}

#toast-message-box{ 
	align-items: center;
	position: fixed;
	display: flex;
	flex-flow: column;
	gap:.5rem;
	left:0;
	right: 0;
	bottom: 0;
	padding: .5rem;
	font-size: 1rem;
	pointer-events: none;
	text-align: center;
}
#toast-message-box div{
	pointer-events: all;
	border-radius: var(--bs-border-radius);
	line-height: 1rem;
	padding: .5rem;
	max-width: 300px;
	background:rgba(var(--page-background-invert-rgb) /50%);
	color:var(--page-background);
	cursor: pointer;
	transform: translate(0, 100%);
	opacity: 0;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#toast-message-box div.show{opacity: 1; transform: translate(0, 0);}
#toast-message-box div.show.hide{opacity: 0; transform: scale(0.5);}

.hyphens{
	-webkit-hyphens: auto; /* For WebKit-based browsers like Chrome, Safari */
	-moz-hyphens: auto;    /* For Mozilla Firefox */
	hyphens: auto;
}
.user-select-none{
	-webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
}

body,html{transition: background 0.5s ease-out!important;background:var(--page-background);}
*{touch-action: none!important;}